<h2>Homescreen Page Loads</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Day</th>
      <th>App Loads</th>
    </tr>
  </thead>
  <tbody>
    <% @load_count.each do |day,count| %>
      <% tag = (day.to_date.saturday? || day.to_date.sunday?) ? :strong : :span %>
      <tr>
        <td><%= content_tag(tag, day) %></td>
        <td><%= content_tag(tag, day.to_date.strftime("%A")) %></td>
        <td><%= content_tag(tag, count) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
