<h1>Bend Nordic Maps</h1>
<ul class="list-group">
  <li class="list-group-item"><%= link_to "Sponsors", sponsors_path %></li>
  <li class="list-group-item"><%= link_to "Sponsorship Levels", sponsorship_levels_path %></li>
<ul>