<h1>Bend Nordic Tail Maps</h1>
<p>Some stuff about the app</p>

<h2 id='sponsorship'>Become a Sponsor</h2>
<p>Please contact John@FollowRhythm.com if you are interested in becoming a sponsor.</p>

<h2 id='privacy-policy'>Privacy Policy</h2>
<p>privacy policy stuff</p>

